.gridButton {
    width: 20px;
    height: 20px;
    margin: none;
    font-size: 70%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: rgb(250, 250, 250);
    padding: none;
}

.controllGroup {
    margin: 10px;
}